

.navigation {
    background-color:#e69e52;
    color: #fff;
    padding: 10px 0;
}


.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_block {
    margin: 0 auto;
}


.nav {
    display: flex;
    font-size:18px;
}

.Logo {
    display: flex;
    color:#00ff90;
    font-size:18px;
    margin-left:1%;
   font-weight:bold;
}

    .nav a {
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
    }

.intro_section {
    background-color: #f6f6f6;
    padding: 50px 0;
}


.intro_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.intro_item {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display:flex;
}

.block {
    width: 40%;
    margin-left: 5%;
}

.intro_text {
    font-size: 18px;
}

.intro_item_two {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:10vh;
}

.intro_text_two {
    width: 40%;
    border-radius:10px;
    background-color:#fff;
    height: 100%;
}

.intro_text_tree {
    margin-top:2%;
    width: 20%;
    border-radius: 10px;
    background-color: #fff;
    height: 100%;
}

.intro_img {
    background-color: #e69e52;
    height: 200px;
    border-radius: 10px;
}

.blocks {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.intro_item_div{
    width:20%;
    margin-left:1%;
}

.intro_section{
    background-color:#ccc;
}

.intro_button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:2%;
    width: 10%;
}

.button_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_itemm{
    display:flex;
    flex-direction:column;justify-content: center;
    align-items: center;
}

.intro_img_two {
    width: 80%;
    background-color: #e69e52;
    height: 200px;
    border-radius: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


.footer_img {
    background-color: #ccc;
    height: 100px;
    margin-bottom: 20px;
}


.subscription_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: #808080;
    padding: 2%;
    margin-top: 2%;
}


.subscription_block {
    margin: 0 10px;
}


label {
    display: block;
    margin-bottom: 5px;
}


input {
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.sub_but {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:2%;
}

.subscribe_button {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.footer_text {
    font-size: 14px;
}


@media (max-width: 768px) {
    .navigation {
        padding: 10px 0;
    }
}


/*intro*/

.intro_grid {
    grid-template-columns: 1fr;
}

@media (max-width: 768px) {
    .intro_grid {
        grid-template-columns: 1fr;
    }
    .blocks {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        width: 100%;
        height: 100%;
    }
    .intro_item_div {
        width: 80%;
        margin-left: 1%;
    }

}



@media (max-width: 768px) {
    .subscription_form

{
    flex-direction: column;
    align-items: stretch;
}


.subscription_block {
    margin: 10px 0;
}


}


@media (max-width: 480px) {
    .nav {
        display: none;
    }

    .navigation {
        padding: 20px 0;
    }
}
